<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="es">
	<head data-th-replace="~{/layouts/header :: head}">
	<meta charset="UTF-8">
	<title>Insert title here</title>
	</head>
		
	
	<body>
		<footer th:fragment="footer" class="final">
		<div class="buttons">
		
	 <a href="https://www.facebook.com/fiunju/?locale=es_LA" class="fa fa-facebook"></a>
      <a href="https://www.youtube.com/c/FacultaddeIngenier%C3%ADaUNJu" class="fa fa-youtube"></a>
      <a href="https://www.instagram.com/fiunju/?hl=es" class="fa fa-instagram"></a>
	
	</div>
	<p>Copyright © 2014-2024 - Facultad de Ingeniería - UNJu</p>
	<p>Informacion de Contacto: </p>
	<ul>
	  <li>Italo Palanca N° 10</li>
	  <li>San Salvador de Jujuy - Argentina</li>
	  <li>info@fi.unju.edu.ar</li>
	</ul>
	</footer>
	</body>
</html>